[submodule "chromaprint"]
	path = chromaprint
	url = git@github.com:UniMusic-app/chromaprint.git
	branch = update-kissfft-paths
[submodule "kissfft"]
	path = kissfft
	url = https://github.com/mborgerding/kissfft
